// COLORS

// Nutral
$color-light-1: #eef2ff;
$color-light-2: #e0e7ff;
$color-light-3: #d1d5db;
$color-dark: #374151;

// Main
$color-primary: #6366f1;
$color-secondary: #4338ca;

// MARGINS

$margin-top-big: 8rem;
$margin-top-huge: 12rem;

$margin-bottom-small: 2rem;

// PADDINGS

$default-section-padding: 2rem 6rem;