// COLORS

// Nutral
$color-light-1: #EEF2FF;
$color-light-2: #E0E7FF;
$color-light-3: #D1D5DB;
$color-dark: #374151;

// Main
$color-primary: #6366F1;
$color-secondary: #4338CA;

// MARGINS
$gap-small: 2rem;
$gap-semi: 4rem;
$gap-medium: 6rem;
$gap-big: 8rem;
$gap-huge: 12rem;



// PADDINGS

$default-section-padding: 6rem;