.header,
.section-services,
.section-quote,
.section-about,
.section-features,
.section-calendly,
.footer {
  padding: $default-section-padding;
  margin-bottom: $gap-semi;
}

.header {
  background-image: url(../img/team-up.svg);
}

.header,
.services,
.quote,
.about,
.features,
.calendly,
.footer {
  &__container {
    max-width: 70vw;
    margin: 0 auto;

    @include respond(tab-land) {
      max-width: 90vw;
    }

    @include respond(tab-port) {
      max-width: auto;
    }
  }
}

.header {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 1), rgba($color-secondary, 1));
  background-size: cover;
  background-position: center;
}

.section-services {
  
}

.section-quote {
  background-color: $color-primary;
}

.section-about {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 1), rgba($color-secondary, 1));
  background-size: cover;
  background-position: center;
}

.section-features {
  
}

.section-calendly {

}

.footer {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 1), rgba($color-secondary, 1));
  background-size: cover;
  background-position: center;
  margin-bottom: 0 !important;
}