@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6; }

.header {
  color: #eef2ff; }
  .header__container {
    max-width: 70vw;
    margin: 0 auto; }
  .header__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
  .header__brand {
    color: #e0e7ff;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 3rem; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem; }
  .header__text {
    width: 60%;
    height: 100%; }
  .header__heading {
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem; }
  .header__paragraph {
    color: #d1d5db;
    margin-bottom: 2rem; }
  .header__hero {
    margin-top: 2rem;
    width: 35%; }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  font-weight: 700;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  transform: translate(0);
  transition: all .2s; }

.btn:hover {
  box-shadow: 0 0.2rem 2rem #e0e7ff;
  background-color: #eef2ff;
  color: #6366f1; }

.btn:focus, .btn:active {
  transform: translateY(2px); }

.btn--white {
  text-decoration: none;
  color: #eef2ff;
  border: 1px solid #eef2ff; }

.btn--purple {
  text-decoration: underline;
  padding: 0.5rem !important;
  color: #eef2ff;
  transition: all .2s; }
  .btn--purple:hover {
    background-color: rgba(67, 56, 202, 0.8);
    color: #e0e7ff;
    box-shadow: none;
    text-decoration: none; }

.services__container {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #374151; }

.services__text {
  text-align: center; }
  .services__text-phrase {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8rem; }
    .services__text-phrase span {
      color: #6366f1;
      font-size: 3.5rem;
      margin: 0 .5rem; }

.services__items {
  display: flex;
  justify-content: space-between; }

.services__item {
  flex: 0 1 40rem;
  min-width: 30rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.2rem 1rem #374151;
  border-radius: 5px; }
  .services__item:not(:last-child) {
    margin-right: 6rem; }
  .services__item-icon {
    font-size: 10rem;
    color: #6366f1; }
  .services__item-heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem; }

.quote {
  position: relative;
  color: #eef2ff; }
  .quote__text {
    text-align: center;
    width: 70vw;
    font-size: 5rem;
    font-style: italic;
    font-weight: 100;
    margin: 0 auto; }
    .quote__text span {
      display: block; }
  .quote__author {
    position: absolute;
    right: 8rem;
    bottom: 2rem;
    font-weight: 100;
    font-style: italic; }

.about {
  color: #eef2ff; }
  .about-container {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .about__hero {
    width: 45%; }
  .about__text {
    width: 45%; }
    .about__text-heading {
      font-weight: 300;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .about__text-phrase {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .about__text-paragraph {
      margin-bottom: 4rem; }
    .about__text-btn {
      font-size: 2rem; }

.features {
  color: #374151; }
  .features__container {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .features__text {
    flex: 0 1 80rem;
    min-width: 50rem;
    margin-right: 6rem; }
    .features__text-phrase {
      font-size: 3rem;
      margin-bottom: 4rem; }
      .features__text-phrase span {
        font-size: 3.5rem;
        color: #4338ca; }
    .features__text-items {
      padding: 2rem;
      border: 3px solid #374151;
      border-radius: 1rem; }
    .features__text-item {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .features__text-item:not(:last-child) {
        margin-bottom: 2rem; }
      .features__text-item-icon {
        font-size: 5rem;
        margin-right: 1rem;
        -webkit-text-stroke: 1px #374151; }
      .features__text-item-text {
        width: 85%; }
        .features__text-item-text-heading {
          font-size: 1.5rem; }
        .features__text-item-text-paragraph {
          font-size: 1.4rem; }
  .features__hero {
    width: 40%;
    margin-right: 1rem; }

.footer {
  color: #eef2ff; }
  .footer__container {
    max-width: 70vw;
    margin: 0 auto; }
  .footer__brand {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 8rem; }
  .footer__content {
    display: flex;
    justify-content: space-between; }
  .footer__links {
    flex: 0 1 auto;
    border-top: 1px solid #d1d5db;
    list-style: none;
    display: flex;
    padding: 1rem;
    margin-right: 2rem; }
    .footer__links li {
      margin-top: .5rem; }
      .footer__links li:not(:last-child) {
        margin-right: 1rem; }
      .footer__links li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #e0e7ff;
        padding: 1rem 2rem;
        border-radius: 5px;
        transition: all .2s; }
        .footer__links li a:hover {
          background-color: #e0e7ff;
          color: #374151; }
  .footer__text {
    width: 40%;
    font-size: 1.4rem;
    border-top: 1px solid #d1d5db;
    padding: 1rem; }

.header,
.section-services,
.section-quote,
.section-about,
.section-features,
.section-calendly,
.footer {
  padding: 6rem;
  margin-bottom: 4rem; }

.header {
  background-image: linear-gradient(to right bottom, #6366f1, #4338ca);
  background-size: cover;
  background-position: center; }

.section-quote {
  background-color: #6366f1; }

.section-about {
  background-image: linear-gradient(to right bottom, #6366f1, #4338ca);
  background-size: cover;
  background-position: center; }

.footer {
  background-image: linear-gradient(to right bottom, #6366f1, #4338ca);
  background-size: cover;
  background-position: center;
  margin-bottom: 0 !important; }
