.about {
  color: $color-light-1;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__hero {
    width: 45%;

    @include respond(tab-port) {
      margin-bottom: 3rem;
      width: 50vw;
    }
  }

  &__text {
    width: 45%;

    @include respond(tab-port) {
      width: auto;
      text-align: center;
    }

    &-heading {
      font-weight: 300;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: $gap-small;
    }

    &-phrase {
      font-size: 3rem;
      margin-bottom: $gap-small;
    }

    &-paragraph {
      margin-bottom: $gap-semi;
    }

    &-btn {
      font-size: 2rem;
    }
  }
}