.features {
  color: $color-dark;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-land) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    flex: 0 1 80rem;
    margin-right: $gap-medium;
    min-width: 50rem;

    @include respond(tab-land) {
      margin: 0;
    }

    &-phrase {
      font-size: 3rem;
      margin-bottom: $gap-semi;

      @include respond(tab-land) {
        text-align: center;
      }

      & span {
        font-size: 3.5rem;
        color: $color-primary;
      }
    }

    &-items {
      padding: 2rem;
      box-shadow: 0 .2rem 1rem $color-secondary;

      border-radius: 1rem;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      &:not(:last-child) {
        margin-bottom: $gap-small;
      }

      &-icon {
        font-size: 5rem;
        margin-right: 2rem;
        // -webkit-text-stroke: 1px $color-primary;
      }

      &-text {
        width: 85%;

        &-heading {
          color: $color-primary;
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }

        &-paragraph {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__hero {
    width: 40%;

    @include respond(tab-land) {
      margin-bottom: 5rem;
      width: 90vw;
    }
  }
}