.footer {
  color: $color-light-1;

  &__brand {
    font-size: 3rem;
    text-align: center;
    margin-bottom: $gap-big;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__links {
    border-top: 1px solid $color-light-3;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 45%;

    @include respond(tab-port) {
      width: auto;
      flex-wrap: wrap;
    }

    li {
      margin-top: .5rem;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
      a {

        &,
        &:link,
        &:visited {
          font-size: 1.2rem;
          text-decoration: none;
          color: $color-light-2;
          padding: .2rem;
          border-radius: 5px;
          transition: all .2s;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 3rem;
          transition: all .2s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    border-top: 1px solid $color-light-3;
    padding: 1rem;
    width: 45%;

    @include respond(tab-port) {
      width: auto;
      text-align: center;
      margin-bottom: 2rem;
      border: none;
    }
  }
}