.header {
  color: $color-light-1;

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    color: $color-light-2;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 3rem;
    // text-shadow: 0 .5rem 6rem currentColor;
  }

  &__talk {
    
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $gap-big;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__text {
    width: 60%;
    height: 100%;

    @include respond(tab-port) {
      width: auto;
      margin: 5rem 0;
      text-align: center;
    }
  }

  &__heading {
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: $gap-small;
  }

  &__paragraph {
    color: $color-light-3;
    margin-bottom: $gap-small;
  }

  &__learn-more {
    
  }

  &__hero {
    margin-top: 2rem;
    width: 35%;

    @include respond(tab-port) {
      width: 50vw;
    }
  }
}