.services {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-dark;
  }

  &__text {
    text-align: center;

    &-phrase {
      font-size: 3rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: $gap-big;

      span {
        color: $color-primary;
        // font-weight: 700;
        font-size: 3.5rem;
        margin: 0 .5rem;
      }
    }

    &-paragraph {

    }
  }

  &__items {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 1 40rem;
    min-width: 30rem;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 .2rem 1rem $color-secondary;
    border-radius: 5px;
    transition: all .3s;

    @include respond(tab-land) {
      min-width: 25rem;
    }

    @include respond(tab-port) {
      flex: none;
      max-width: 60rem;
    }

    &:hover {
      box-shadow: 0 .4rem 2rem $color-secondary;
      transform: translateY(-1rem) scale(1.03);
    }

    &:not(:last-child) {
      margin-right: $gap-medium;

      @include respond(tab-port) {
        margin: 0;
        margin-bottom: 3rem;
      }
    }

    &-icon {
      font-size: 10rem;
      color: $color-primary;
    }

    &-heading {
      font-size: 1.7rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: $gap-small;
    }

    &-paragraph {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}